@model List<Employee>

@{
  ViewData["Title"] = "Employee Home";
}


<h1>Displaying all employees .. </h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Address</th>
      <th scope="col">Gender</th>
      <th scope="col">Salary</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

    @for (int i = 0; i < Model.Count; i++)
    {

      <tr>
        <td>@(i+1)</td>
        <td>
          @{
            string fn = Model[i].FirstName;
          }
          <a href="/employee/detail?id=@Model[i].Id">@fn</a>
        </td>
        <td>@Model[i].LastName</td>
        <td>@Model[i].Address</td>
        <td>@Model[i].Gender</td>
        <td>@Model[i].Salary</td>
        <form asp-controller="Employee" asp-action="Edit" asp-route-id="@Model[i].Id" method="POST">
          <td><a class="btn btn-outline-primary" href="/employee/Edit?id=@Model[i].Id">Edit</a></td>
        </form>
        <form asp-controller="Employee" asp-action="Delete" asp-route-id="@Model[i].Id" method="POST">
          <td>
            <input class="btn btn-outline-primary" type="submit" value="Delete">
          </td>
        </form>
      </tr>
    }

  </tbody>
</table>